@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f1115; /* Cor SkillVista (Dark Navy) */
  --card-bg: #161920;
  --border: #23262f;
  --primary: #6366f1;
}

body {
  background-color: var(--background);
  color: #e2e8f0;
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar moderna */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 10px; }